<main id="hero">
  <%- include('title') %>
  <section id="card-group">
    <div class="cards">
      <div class="card">
        <a class="card-img" href="#">
          <div>
            <img
              src="/files/55a4b18c98fcb42d48399e01ee728793-camilla-becker-de-quatro-na-banheira-levando-rola.png"
              alt="imgteste"
            />
            <div class="card-alerts">
              <span class="card-time">03:00</span>

              <span class="card-notification" class="card-time">NOVO</span>
            </div>
          </div>
        </a>
        <a class="card-title" href="#">
          <div>Levando rola do amigo</div>
        </a>
      </div>
    </div>
  </section>
</main>
