<header id="header">
    <div class="container">
        <a href="/"><img src="/img/caligulas.svg" alt="Logo Caligulas"></a>
    <%- include('search') %>
        <button id="menu-open"><img src="/img/menu-toggle.svg" alt="Menu alternador"></button>
    </div>
</header>