@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090c0f;
  --componentBackground: #161c1f;
  --textColor: #fff;
  --details10: #ffffff1a;
  --details20: #ffffff2a;
  --details60: #ffffff6a;
  --colorRed: #a90015;
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}
