@import "tailwindcss";

:root {
  --background: #090c0f;
  --background-components: #12191f;
  --red-default: #a90015;
  --yellow-default: #ffc107;
  --foreground: #ffffff;
  --border-default: rgba(255, 255, 255, 0.06);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red-default: var(--red-default);
  --color-yellow-default: var(--yellow-default);
  --color-border-default: var(--border-default);
  --font-inter-sans: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
