<header id="header">
  <div class="container">
    <div>
      <button>
        <img src="/img/icons/icon-menu.svg" alt="Icone de menu" />
      </button>
      <a href="/"><img src="/img/caligulas.png" alt="Logo Caligula's" /></a>
    </div>
    <nav></nav>
    <button>
      <img src="/img/icons/icon-avatar.png" alt="Icone avatar" />
      <span>Loops</span>
      <img src="/img/icons/arrow-bottom.svg" alt="Icone de seta" />
    </button>
  </div>
</header>
