<div id="search">
  <form action="">
    <input type="text" name="" placeholder="Busque um vídeo" />
    <button>
      <img src="/img/icons/icon-search.svg" alt="Icone de busca" />
    </button>
  </form>
</div>
