<%- include('../../partials/header') %>
  <body>
    <main id="admin-login">
      <div class="container">
      
        <h3>Entre na sua conta</h3>
        <form action="/admin/auth" method="post">
          <label>
            Email
            <input type="text" placeholder="exemple@email.com" name="email" />
          </label>
          <label>
            Senha
            <input type="password" placeholder="*******" name="password" />
          </label>
          <button type="submit">Entrar</button>
        </form>
      </div>
    </main>
    <%- include('../../partials/footer') %>
